.layout {
}

.heading {
  color: var(--text);
}

.metadata {
  color: var(--text);
}

.blog-post-link {
  color: var(--link);
}

.credit {
  color: var(--text);
}

.credit-link {
  color: var(--link);
}