@import './theme-dark.css';
@import "./typography.css";

.container {
    font-family: sans-serif;
    /* background: var(--background-color); */
    min-height: 100vh;
}

.site-header {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--nav-color-alt);
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    transition: width 0.3s ease 0s;
}

.site-header-active {
    z-index: 1;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--nav-color-alt);
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: width 0.3s ease 0s;
    box-shadow: rgb(0 0 0) 0px -2px 10px;
}

.site-footer {
    text-align: center;
    color: var(--footer-text-color);
}

.nav-links {
    position: fixed;
    top: 0;
    right: 120px;
    display: flex;
    list-style: none;
}

.nav-link-item {
    margin: 13px 0px 0px 15px;
}

.divider {
    margin: 13px 0px 0px 15px;
    
}

.divider:after {
    content: '';
    padding-left: 10px;
    border-right: 1px solid var(--nav-divider-color);
}

.nav-link-text {
    font-family: "Roboto Mono", monospace;
    background: rgba(0, 0, 0, 0);
    color: var(--nav-text-color);
    padding: 9px 5px 10px 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-link-text:hover {
    color: var(--nav-text-hover-color);
    background: var(--nav-link-hover-gradient-alt);
    transition: 0.5s;
}

.site-title {
    position: fixed;
    top: 0px;
    left: 120px;
    font-size: 2rem;
    color: var(--nav-title-color);
    font-weight: 700;
    margin-top: 15px;
}

.site-title-active {
    position: fixed;
    top: 0px;
    left: 120px;
    font-size: 2rem;
    color: var(--nav-title-color);
    font-weight: 700;
    margin-top: 15px;
    text-decoration: underline;
}

.page-container {
    margin: auto;
    margin-top: 80px;
    max-width: auto;
}

html, body {
    margin:0px;
    background-color: var(--background-color);
    overflow-x: hidden;
  }