@import './theme-dark.css';

.container {
    font-family: sans-serif;
    background: var(--background-color);
    min-height: 100vh;
}

.site-header {
    background-color: var(--nav-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer {
    text-align: center;
    color: var(--footer-text-color);
}

.nav-links {
    position: fixed;
    top: 0;
    right: 120px;
    display: flex;
    list-style: none;
}

.nav-link-item {
    margin: 15px 15px 0px 0px;
}

.nav-link-text {
    color: var(--nav-text-color);
    padding: 10px 5px 10px 5px;
    text-decoration: none;
}

.nav-link-text:hover {
    background-color: var(--nav-link-hover-color);
    background: var(--nav-link-hover-gradient);
    color: var(--nav-text-hover-color);
}

.site-title {
    position: fixed;
    top: 0px;
    left: 120px;
    font-size: 2rem;
    color: var(--nav-title-color);
    font-weight: 700;
}

.page-container {
    margin: auto;
    margin-top: 80px;
    max-width: 500px;
    font-family: sans-serif;
}

.divider {
    margin: 15px 15px 0px 0px;
    
}

.divider:after {
    content: '';
    padding-left: 10px;
    border-right: 1px solid var(--nav-divider-color);
}

html, body {
    margin:0px;
  }