@import './theme-dark.css';

.container {
  background: var(--layer1);
  color: var(--text);
  height: calc(100vh - 80px);
  margin-left: 120px;
  margin-right: 120px;
}

.heading {
  color: var(--primary);
}

