@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSans_Condensed-Regular.ttf");
}

@font-face {
  font-family: "MPlus1";
  src: url("../fonts/MPLUS1-Regular.ttf");
}

/* @font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Regular.otf");
} */

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf");
}